/* .ChangeAlert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.ChangeAlert p {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.ChangeAlert button {
    display: block;
    margin: auto;
    padding: 10px 16px;
    background-color: #2563eb;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, trasform 0.2s ease;
}

.ChangeAlert button:hover {
    background-color: #1d4ed8;
}

.ChangeAlert button:active {
    transform: scale(0.95);
}